
<form>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" name="name">
            </div>
            <div class="col-md-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName">
            </div>
            <div class="col-md-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Enter Email" name="email">
            </div>
            <div class="col-md-3">
                <label for="age">Age</label>
                <input type="number" class="form-control" placeholder="Enter Age" name="age">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="doj">Date of joining</label>
                <input type="date" class="form-control" name="doj">
            </div>
            <div class="col-md-3">
                <label for="designation">Designation</label>
                <select class="form-control" name="designation">
                    <option>Please Select</option>
                    <option>Demo</option>
                </select>
            </div>
            <div class="col-md-3 d-inline-flex .flex-row">
                <label for="gender">Gender</label>
                
                        <div class="form-check-inline form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">Male</label>
                          </div>
                          <div class="form-check-inline form-check">
                            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                            <label class="form-check-label" for="radio2">Female</label>
                        </div>
                    

                
            </div>
            <div class="col-md-3 d-inline-flex .flex-row my-3">
                <label for="gender"></label>
                <div class="form-check ">
                    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                    <label class="form-check-label" for="check1">Married</label>
                  </div>
                  <div class="form-check mx-2">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">Active</label>
                  </div>
            </div>
        </div>
    </div>
</form>
